// Change link, button, and nav color from purple to brand red
$link-color: #D62731;
$btn-primary-color: #D62731;

// Custom button style
.btn-red {
  @extend .btn;
  color: white;
  background-color: #D62731;
  
  &:hover {
    color: white;
    background-color: darken(#D62731, 10%);
  }
}