// NextGenCyber color scheme

$link-color: #D62731;
$btn-primary-color: #D62731;
$body-heading-color: #D62731;
$body-text-color: #202020;
$sidebar-color: #f5f5f5;
$nav-child-link-color: #707070;
$base-button-color: #D62731;
$code-background-color: #f5f5f5;
$border-color: #e0e0e0;

// Pagination
$pagination-button-color: #D62731;

// Callouts
$callouts-background: lighten(#F8A5A9, 10%);
$callouts-border-color: #D62731;