<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-content">
      <div class="footer-col">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col">
        <h3>Connect</h3>
        <ul class="contact-list">
          {%- if site.email -%}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
          {%- if site.github_username -%}
          <li><a href="https://github.com/{{ site.github_username }}">GitHub: {{ site.github_username }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col">
        <p>&copy; {{ 'now' | date: "%Y" }} Next Gen Cyber Ed | Bridging the gap in cybersecurity education</p>
      </div>
    </div>
  </div>
</footer>